<nav class="navbar is-dark">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      {{@blog.title}}
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">


{{navigation}}

      <a class="navbar-item" href="https://bulma.io/">
        Home
      </a>



    </div>

    <div class="navbar-end">

  </div>
</nav>