    {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}} navi-text has-text-centered" role="presentation"><a class="has-text-white has-text-weight-bold" href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}